
<div class="container div-prod pt-3">

    <div *ngIf = "!viewdetails">
        <h1>View Products</h1>
            <div class="container">
                
                <table class="table table-striped">
                    <thead>
                        <tr style="background-color:rgb(93, 157, 187);">
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Product Type</th>
                            <th>Image</th>
                            <th>Company</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products;let rowIndex=index">
                            <td>{{rowIndex+1}}</td>
                            <td>{{item.productname}}</td>
                            <td>{{item.producttype}}</td>
                            <td><img src="../../assets/images/{{item.productimage}}" class="viewimage"></td>
                            <td>{{item.company}}</td>
                            <td>{{item.productprice}}</td>
                            <td>
                                <!-- <a class="btn btn-secondary" [routerLink]="['/company-detail', company._id]">View Details</a> -->
                                <button class="btn btn-secondary mr-3" (click) = "Viewdetails(item._id)">View</button>
                                <a class="btn btn-primary mr-3" [routerLink]="['/create-product', item._id]">Update</a>
                                <button class="btn btn-danger" (click) ="deleteProduct(item._id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    </table>
            
                    
                </div> 
    </div>



    <div *ngIf = "viewdetails">
        <h1>View Product Details</h1>
        <div class="container-fluid">
            <div class=" p-5">
                <div class="" >
                <div class="row pb-3">
                    <div class="col-sm-10 col-md-10 col-lg-10 jumbotron div-jumbo">
                        <div class="row col-sm-12 col-md-12 col-lg-12">
                            <span class="col-sm-4 col-md-4 col-lg-4 font-weight-bolder">
                                Title: 
                            </span>          
                            <span class="col-sm-8 col-md-8 col-lg-8">
                                {{prod.productname}}
                            </span>
                        </div>

                        <div class="row col-sm-12 col-md-12 col-lg-12">
                            <span class="col-sm-4 col-md-4 col-lg-4 font-weight-bolder">
                                Company:
                            </span>          
                            <span class="col-sm-8 col-md-8 col-lg-8">
                                {{prod.company}}
                            </span>
                        </div>
                        
                        <div class="row col-sm-12 col-md-12 col-lg-12">
                            <span class="col-sm-4 col-md-4 col-lg-4 font-weight-bolder">
                                Product Type:
                            </span>          
                            <span class="col-sm-8 col-md-8 col-lg-8">
                                {{prod.producttype}}
                            </span>
                        </div>
    
                        <div class="row col-sm-12 col-md-12 col-lg-12">
                            <span class="col-sm-4 col-md-4 col-lg-4 font-weight-bolder">
                                Product Price:
                            </span>          
                            <span class="col-sm-8 col-md-8 col-lg-8">
                                {{prod.productprice}}
                            </span>    
                        </div>

                        <div class="row col-sm-12 col-md-12 col-lg-12"> 
                            <span class="col-sm-4 col-md-4 col-lg-4 font-weight-bolder">
                                Description:
                            </span>          
                            <span class="col-sm-8 col-md-8 col-lg-8">
                                {{prod.productdesc}}
                            </span>
                        </div>
                    
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2 div-img">
                        <div class="col-sm-6 col-md-6 col-lg-6 pb-5">
                            <img src="../../assets/images/{{prod.productimage}}" alt="">
                         </div>
                    </div>
                    
                </div>
            </div>
                    <!-- <div class="col-sm-6 col-md-6 col-lg-6 offset-4 pb-5">
                       <img src="../../assets/images/{{prod.productimage}}" alt="" class="img_view">
                    </div> -->
              
                <button class="btn btn-warning offset-5"  (click) ="back()">Back</button>
            <div>
        </div>
    </div>
</div>